@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  padding-top: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(238, 238, 238);
}

.post-list button.btn {
  font-size: 1.25rem;
}

.post-list button.btn:focus {
  box-shadow: none;
}

div.post-div {
  background-color: aliceblue;
  border-radius: 50px;
}

form.post-form input {
  max-width: 300px;
}

form.post-form textarea {
  max-width: 500px;
}

form.post-form input,
form.post-form textarea,
input.search-input,
button.add-post-btn {
  border-radius: 20px;
}

.message {
  padding-top: 10px;
  text-align: center;
  color: rgb(190, 89, 52);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
}
